.navigation {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5rem 0rem;
    background-color: #373530;
    color: black;
}

.navigation-menu {
margin-left: auto;
}

.navigation-menu ul {
display: flex;
padding: 0;
margin-right: 10;
}

.navigation-menu li {
/* removes default disc bullet for li tags and applies margin to left & right side */
list-style-type: none;
margin: 0 1rem;
}

.navigation-menu li a {
/* increases the surface area of the anchor tag to span more than just the anchor text */
text-decoration: none;
display: block;
width: 100%;
color: #d83838;
}